
.memoBody {
    width: 600px;
}

.nsMemoHeader {
    background-color: rgb(173,216,230);
    height: 60px;
}

.nsLogo {
    margin-left: 10px;
}

.nsMemoTitle {
    font-size: 25pt;
    color: white;
    margin-left: 107px;
}

.memoInput {
    width: 490px;
    height: 30px;
    margin-left: 10px;
    margin-top: 20px;
}

.memoSubmitBtn {
    background-color: rgb(173,216,230);	
    color: white;
    border:1px solid;
    border-radius:10px;
    width: 80px;
    height: 35px;
}

.nsMemoInfoList {

}

.memoSaveBtn {
    background-color: rgb(91,192,222);
    color: white;
    border:1px solid;
    border-radius:10px;
    width: 100%;
    height: 35px;
    margin-top: 20px;
}