
.nsMovieHeader {
    background-color: black;
    font-size: 40pt;
    font-weight: 5px;
    color: white;
    text-align: center;
}

.nsMovieSubTitle {
	background-color: inherit;
	color: grey;
    text-align: center;
    display: inline-block;
    width: 33%;
    cursor: pointer;
}

.nsMovieSubTitle:hover {
	color: white;
}

.nsMovieSubTitleRow {
	background-color: black;
}

.nsMovieInfoDetail {
    background-color: grey;
    color: white;
    text-align: left;
    width: 265px;
    margin-top: 20px;
    margin-left: 40%;
    margin-right: 50%;
    padding-top: 9px;
    padding-left: 12px;
    padding-bottom: 10px;
}

.nsMovieInfoDetailImg {
	margin-top: 5px;
}

.nsMovieInfoDetailTitle {
    font-weight: bold;
}

.nsMovieInfoList {
	text-align: center;
}

.loadMore {
	text-align: center;
	cursor: pointer;
    display: inline-block;
    margin-left: 48%;
    margin-top: 20px;
}

.backTop {
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin-left: 93%;
}