<script type="text/ejs" id="nsMemoTodoListEjs">
<div data-h5-loop-context="nsMemoTodoList">
    <div class="nsMemoInfoList">
        <div class="nsMemoItemDiv">
            <input type="hidden" data-h5-context="id" />
            <input type="checkbox" name="todoChkBox" />
            <input type="hidden" data-h5-context="content" />
        </div>
        <div class="nsMemoItemDiv">
            <span data-h5-context="content"></span>
        </div>
        <div class="nsMemoItemDiv">
            <input type="button" name="todoBtn" value="取消" />
        </div>
    </div>
</div>
</script>